* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-pagi: rgba(232, 225, 217, 0.777);
    --fc-title: #373b3d;
    --fc-text: #9d9da5;
    --cs-shadow-figure: #3d81683d;
    --bg-card: #fff; 
    --bg-button-end-destak: #3D8168;  
    --bg-button-hover: #295646;  

}

body {
    background-color: var(--bg-pagi);
    font-size: 1.6rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: block;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    min-width: 475px;
}

main #categoria {
    width: 100%;
    letter-spacing: 8px;
    color: var(--fc-text);
    
}

main h1 {
    
    font-family: 'Fraunces', serif;
    line-height: 95%;
    letter-spacing: 2px;
    font-size: 34px;
    margin: 14px auto;
    font-weight: 700;
    color: var(--fc-title)
}

main p {
    width: 100%;
    color: var(--fc-text);
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 1.5px;
    font-weight: 600;
}


main .description::before {
    box-shadow: 14px 14px 17px  var(--cs-shadow-figure);
    content: '';
    width: 100%;
    height: 297px;
    display: block;
    background-color: none;
    background-image: url(./images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 2rem 2rem 0 0;
    top: -23.9rem;
}


main .description {
    box-shadow: 14px 14px 17px  var(--cs-shadow-figure);
    position: relative;
    width: 80%;
    height: 100%;
    padding: 3rem ;
    background-color: var(--bg-card);
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
margin: 350px auto;
}

main .description .valor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    margin: 24px 12px;
    width: 300px;
    font-weight: 700;
    color: var(--bg-button-end-destak);
    width: fit-content;
}

main .valor p {
    letter-spacing: 0;
    font-size: 12px;
    text-decoration: line-through;
    width: fit-content;
}

main button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--bg-button-end-destak);
    color: var(--bg-card);
    padding: 1.5rem;
    border-radius: 10px;
    border: 0;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
}

main button:hover {
    background-color: var(--bg-button-hover);
}


@media (min-width: 650px) {
    main {
        max-width: 59.9rem;
        height: 100%;
        display: flex;
        margin: auto;
        padding: 3rem;
    }
    
    main .description::before {
        position: absolute;
        width: 90%;
        height: 100%;
        background-image: url(./images/image-product-desktop.jpg);
        background-size: contain;
        top: 0px;
        left: -29.1rem;
        z-index: -1;              
        border-radius: 20px 0 0 20px;         
        
    }
    
    main .description{
        
        width: 60%;
        position: relative;
        top: -29.9rem;
        left: 15rem;
        border-radius: 0 2rem 2rem 0;
       
    }
    main button{
        width: 100%;       
        
    }  

}